fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pydantic
passlib[bcrypt]
python-dotenv
pytest
pytest-asyncio
httpx
email-validator
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
requests
playwright
pytest-playwright
